folders_to_home_dir/.vim/bundle/
folders_to_home_dir/.vim/colors/
folders_to_home_dir/.vim/doc/tags
folders_to_home_dir/.vim/pack/
folders_to_home_dir/.vim/plugged/
folders_to_home_dir/.vim/undodir/
folders_to_home_dir/.vim/view/
folders_to_home_dir/.vim/.netrwhist
folders_to_home_dir/.vim/lsp/
folders_to_home_dir/.tmux/plugins/tpm 
folders_to_config_dir/coc/
dotfiles_raabe/
folders_to_config_dir/nvim/undodir/
folders_to_config_dir/pulse/
folders_to_config_dir/vifm/vifminfo.json
