folders_to_home_dir/.vim/bundle/
folders_to_home_dir/.vim/colors/
folders_to_home_dir/.vim/doc/tags
folders_to_home_dir/.vim/pack/
folders_to_home_dir/.vim/plugged/
folders_to_home_dir/.vim/undodir/
folders_to_home_dir/.vim/view/
folders_to_home_dir/.vim/.netrwhist
