[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/nisidabay/Documentos]
row=7
col=0

[/home/nisidabay/Pictures]
row=4
col=2

[/home/nisidabay/dotfiles]
row=0
col=1

[/home/nisidabay/starship.toml]
row=3
col=1

[/home/nisidabay/Música]
row=6
col=0

[/home/nisidabay/proyectos_git]
row=3
col=2

[/home/nisidabay/Templates]
row=1
col=1

[/home/nisidabay/Applications]
row=2
col=2

[/home/nisidabay/st-gerry]
row=7
col=1

[/home/nisidabay/bin]
row=2
col=1

[/home/nisidabay/pywal]
row=8
col=1

[/home/nisidabay/music_player]
row=5
col=2

[/home/nisidabay/Vídeos]
row=4
col=0

[/home/nisidabay/vimwiki]
row=4
col=1

[/home/nisidabay/Escritorio]
row=2
col=0

[/home/nisidabay/Plantillas]
row=0
col=0

[/home/nisidabay/temp]
row=6
col=2

[/home/nisidabay/Público]
row=8
col=0

[/home/nisidabay/notes]
row=6
col=1

[/home/nisidabay/Downloads]
row=3
col=0

[/home/nisidabay/Imágenes]
row=5
col=0

[/home/nisidabay/dwm-luke]
row=0
col=2

[/home/nisidabay/powerlevel10k]
row=5
col=1

[/home/nisidabay/Descargas]
row=1
col=0

[/home/nisidabay/dwmblocks-luke]
row=1
col=2

