body
{
	min-height:640px;
}

h1
{
	color:#999;
	text-shadow:0 0 1px #999,-1px -1px 0 #fff,1px 1px 0 #333,0 0 2px #666,0 0 5px #ff0;
	margin:0;
	padding:12px;
	font-size:24px;
}
p,li
{
	font-size:12px;
	line-height:20px;
}
label
{
	line-height: 20px;
}
input[type="text"],input[type="url"],input[type="number"],input[type^="date"]
{
	height:14px;
	min-width: 96px;
}
select
{
	min-width     : 100px;
}

/* タブ */
body>div
{
	position:absolute;
	top:48px;
	bottom:0;
	left:0;
	right:0;
	margin:0 20px;
}
section:target h2,section:last-child h2
{
	background:#333;
}
section:target h2 a,section:last-child h2 a
{
	color:white;
	box-shadow:none;
	text-shadow:1px 1px 0 #000,0 0 2px #fff;
}
section:target>.content,section:last-child>.content
{
	display:block;
}
h2,:target~section h2
{
	float:left;
	margin:0 1px 0 0;
	border-radius:4px 4px 0 0;
	background:#666;
	color:#999;
}
h2 a,:target~section h2 a
{
	display:block;
	font-size:12px;
	height:16px;
	padding:4px 10px;
	box-shadow:inset 0 -3px 8px black;
	text-decoration:none;
	color:#999;
	text-shadow:0 0 1px #666,-1px -1px 0 #333,0 0 2px #999;
}
section>div.content,:target~section>.content
{
	float:left;
	position:absolute;
	top:22px;
	bottom:20px;
	left:0px;
	right:0px;
	display:none;
	background:#333;
	border-radius:4px;
	margin:0 -4px;
	padding:1em;
	overflow:auto;
}

h2 img
{
	opacity:0.6;
}
:target h2 img
{
	opacity:1;
}

/* リンク */

.link
{
	line-height : 2em;
	letter-spacing : 0.4em;
}
.content a{color:#ff9;}
.content a:hover{color:#fff;}
.content a:visited{color:#ccc;}

/* ヘルプ */

.description
{
	margin:8px;
	padding:4px;
	background:#900;
	color:#fff;
	border:dashed 2px #ccc;
	font-size:12px;
	line-height:12px;
}
p.description
{
	height : 24px;
	overflow:auto;
}
dl.descriptions
{
	background:#111111;
	padding:1em;
	border-radius:8px;
}
.descriptions dt
{
	margin:1.5em 0 2px 0;
	padding:0;
	font-size:14px;
	text-decoration:underline;
}
.descriptions dd
{
	font-size:12px;
	color     :#cceeff;
}

/* フォームとラベル */

fieldset
{
	max-width:680px;
}
p:not(.description),ul:not(.link)
{
	margin:1px auto;
	padding:0 10px;
	max-width:640px;
	clear:both;
	min-height:1.5em;
}
fieldset>p:not(.description),fieldset>ul:not(.link)
{
	padding:0 5px;;
}
fieldset>fieldset>p:not(.description),fieldset>fieldset>ul:not(.link)
{
	padding:0;
}
ul:not(.link) li
{
	list-style:none;
	clear:both;
}
p select,li select,p input,fieldset li input
{
	float  : right;
}
p select,li select,p input,fieldset li input
{
	margin : 1px 0;
}
input[type="range"]
{
	margin : 2px 0;
}
input[type="checkbox"]
{
	margin : 3px;
}
p input[type="checkbox"],p input[type="radio"],fieldset li input[type="checkbox"],fieldset li input[type="radio"]
{
	float:none;
}

@media all and (max-width:480px)
{
	html{min-width:480px;}
	address{font-size:8px;}
	body>div
	{
		margin:0 5px;
	}
	section>div.content,:target~section>.content
	{
		padding:0.2em;
	}
	label
	{
		height:auto;
		margin-top:0.5em;
	}
	label>select
	{
		float:none;
		display:inline;
		width:100%;
	}
}
