[user]
	name = nisidabay
	email = nisidabay@gmail.com
[init]
	defaultBranch = main
[color]
	ui = true
	status = auto
	branch = auto
[core]
	editor = vim
	autocrf = input
	excludesfile = /Users/nisidabay/.gitignore_global
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/local/bin/gh auth git-credential
[commit]
	gpgsign = false
	template = /Users/nisidabay/.stCommitMsg
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
