[user]
	name = nisidabay
	email = nisidabay@gmail.com
[init]
	defaultBranch = main
[color]
	ui = true
	status = auto
	branch = auto
[core]
	editor = vim
	autocrf = input
	excludesfile = /$HOME/nisidabay/.gitignore_global
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[commit]
	gpgsign = false
	template = 
