/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #050507 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c0c0c1; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c0c0c1; background-color: rgba(27,118,117,0.4)}
.cm-s-nqqwal { background-color: #050507; color: #c0c0c1; }
.cm-s-nqqwal span.cm-builtin { color: #943b21; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #434345; }
.cm-s-nqqwal span.cm-keyword { color: #446557; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #9f773f; }
.cm-s-nqqwal span.cm-def { color: #155466; }
.cm-s-nqqwal span.cm-variable { color: #1b7675; }
.cm-s-nqqwal span.cm-variable-2 { color: #155466; }
.cm-s-nqqwal span.cm-string { color: #943b21; }
.cm-s-nqqwal span.cm-string-2 { color: #943b21; }
.cm-s-nqqwal span.cm-number { color: #155466; }
.cm-s-nqqwal span.cm-tag { color: #446557; }
.cm-s-nqqwal span.cm-property { color: #1b7675; }
.cm-s-nqqwal span.cm-attribute { color: #1b7675; }
.cm-s-nqqwal span.cm-qualifier { color: #9f773f; }
.cm-s-nqqwal span.cm-meta { color: #155466; }
.cm-s-nqqwal span.cm-header { color: #446557; }
.cm-s-nqqwal span.cm-operator { color: #446557; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(21,84,102,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #446557; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #050507); }
